.create{
    width:50%;
    height:30%px;
    margin: 5% auto;
    padding:30px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    /* background-color: red; */
}

input{
    width:100%;
    /* gère l'espacement entre les différents input */
    padding:1px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:1px solid #d2becd
}

.create label{
    color: linear-gradient(135deg, #17ead9 0%,#6078ea);
    margin: 12px 0 3px;
}

button{
    /* float:right; */
    padding:5px 12px;
    margin:12px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #9898a2;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}